---
import { t, changeLanguage } from "i18next";
import Layout from "@components/layouts/MainLayout.astro";

changeLanguage("nl-NL");
---

<Layout
	title={`${t("home.title", { ns: "pages" })} ${t("site.titleTemplate")}`}
	desc={t("site.desc")}
>
	<div class="flex flex-row w-{fraction} m-auto">
		<span class="mt-2 font-extrabold pl-2">
			{t("home.welcome", { ns: "pages" })}
		</span>
	</div>
</Layout>
