---
import i18next, { t, changeLanguage } from "i18next";
import LanguageSelector from "@components/i18n/parts/languageSelectbox";
import Layout from "@components/layouts/MainLayout.astro";

changeLanguage("fr");

const supportedLanguages = i18next.languages;
---

<Layout title={`404 ${t("site.titleTemplate")}`} description={t("site.desc")}>
	<div class="flex flex-col w-{fraction} h-screen">
		<div class="m-auto font-extrabold">
			{t("error.404.title")}
		</div>
	</div>
</Layout>
