---
import i18next from "i18next";
import { localizePath } from "astro-i18next";

import nl from "../../../node_modules/flag-icons/flags/nl.svg";
import de from "../../../node_modules/flag-icons/flags/nl.svg";
import en from "../../../node_modules/flag-icons/flags/nl.svg";
import es from "../../../node_modules/flag-icons/flags/nl.svg";
import fr from "../../../node_modules/flag-icons/flags/nl.svg";

import ISO6991 from "iso-639-1";
import { defaults } from "autoprefixer";

export interface Props extends astroHTML.JSX.SelectHTMLAttributes {
  showFlag?: boolean;
}

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;

const { pathname } = Astro.url;

const { showFlag = false, ...attributes } = Astro.props;

const GetFlag = (props: { langCode: string }) => {
  let image = "";
  switch (props.langCode) {
    case "en": {
      image = en 
    }
    case "nl": {
      image = nl
    }
    case "de": {
      image = de
    }
    case "fr": {
      image = fr
    }
    case "es": {
      image = es
    }
  }
  return (<img src={image} alt={props.langCode} />);
}
---

<select onchange="location = this.value;" {...attributes}>
  {
    supportedLanguages.map((supportedLanguage: string) => {
      let value = localizePath(pathname, supportedLanguage);
      console.log(supportedLanguage);
      const flag = showFlag
        ? <GetFlag langCode={supportedLanguage} /> + " "
        : "";
      const nativeName = ISO6991.getNativeName(supportedLanguage);
      const label = flag + nativeName;

      return (
        <option value={value} selected={supportedLanguage === currentLanguage}>
          {
            label
          }
        </option>
      );
    })
  }
</select>
