/* default injected tailwind.css styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-shiftcode {
	background: rgb(139, 92, 246);
	background: -moz-linear-gradient(
		90deg,
		rgba(139, 92, 246, 1) 0%,
		rgba(0, 0, 0, 1) 5%,
		rgba(0, 0, 0, 1) 95%,
		rgba(74, 222, 128, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(139, 92, 246, 1) 0%,
		rgba(0, 0, 0, 1) 5%,
		rgba(0, 0, 0, 1) 95%,
		rgba(74, 222, 128, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(139, 92, 246, 1) 0%,
		rgba(0, 0, 0, 1) 5%,
		rgba(0, 0, 0, 1) 95%,
		rgba(74, 222, 128, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b5cf6",endColorstr="#4ade80",GradientType=1);
}

.bg-glass-black {
	background: rgba(0, 0, 0, 0.19);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.2px);
	-webkit-backdrop-filter: blur(3.2px);
}
