---
import { t, changeLanguage } from "i18next";
import Layout from "@components/layouts/MainLayout.astro";

changeLanguage("de-DE");
---

<Layout
	title={`${t("home.title", { ns: "pages" })} ${t("site.titleTemplate")}`}
	desc={t("site.desc")}
>
	<div class="w-{fraction} m-auto flex flex-row">
		<span class="mt-2 pl-2 font-extrabold">
			{t("home.welcome", { ns: "pages" })}
		</span>
	</div>
</Layout>
