---
import i18next, { t, changeLanguage } from "i18next";
const supportedLanguages = i18next.languages;
import "../../styles/tailwind.css";
import LanguageSelector from "@components/i18n/parts/languageSelectbox";
import Layout from "@components/layouts/MainLayout.astro";

changeLanguage("de");
---

<Layout title={t("site.title")} description={t("site.desc")}>
	<div class="flex flex-col">
		<span>
			{t("home.welcome")}
		</span>
		<LanguageSelector
			showFlag={true}
			langsAvailable={supportedLanguages}
			currentLang={i18next.language}
			client:only
		/>
	</div>
</Layout>
