---
// JS logic
// possible theme colors: green-300 & violet-500
import { t, changeLanguage } from "i18next";
import LanguageSelector from "../../components/i18n/languageSwitch.astro";
import "../../styles/tailwind.css";
// bg-gradient-to-r from-violet-500 via-black to-green-400
import Layout from "../../components/layouts/MainLayout.astro";

changeLanguage("de");
---

<Layout title={t("site.title")} description={t("site.desc")}>
	<div class="flex flex-col">
		<span>
			{t("home.welcome")}
		</span>
		<LanguageSelector
			class="mt-2 py-2 px-4 font-semibold bg-transparent border-2 w-48"
			showFlag={true}
		/>
	</div>
</Layout>
