---
// JS logic
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs, LanguageSelector, Trans, } from "astro-i18next/components";

changeLanguage("es");
---

<html lang={i18next.language}>
  <head>
    <title>{t("site.title")}</title>
    <meta name="description" content="" />

    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	<!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->

    <HeadHrefLangs />
  </head>
  <body class="p-4">
    <h1>
      {t("home.welcome")}
    </h1>
	<LanguageSelector
        class="mt-2 py-2 px-4 font-semibold bg-transparent hover:bg-gray-50 border-2"
        showFlag={true}
    />
  </body>
</html>
