---
import i18next, { t, changeLanguage } from "i18next";
import LanguageSelector from "@components/i18n/parts/languageSelectbox";
import Layout from "@components/layouts/MainLayout.astro";

changeLanguage("fr-FR");

const supportedLanguages = i18next.languages;
---

<Layout title={`404 ${t("site.titleTemplate")}`} description={t("site.desc")}>
	<div class="flex h-screen w-full">
		<div class="w-{fraction} m-auto mb-[55vh] flex flex-col">
			<div class="m-auto text-4xl font-extrabold">
				404 | {t("404.title", { ns: "errors" })}
			</div>
		</div>
	</div>
</Layout>
